body {
    background-color: hsl(16, 92%, 75%);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}
.logo {
    width: 100px;
}
.header {
    background-color: #1A1A1A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem 2rem;
}
.navigation a {
    color:#e1e1e1;
    text-decoration: none;
    padding: 15px;
}
.navigation {
    width:100%;
    display: flex;
    gap: 30px;
}
.search {
    width: 40vw;
}
.search input {
    min-width: 100%;
    display: block;
    padding: 10px;
    border-style: solid;
    border-color: #595959;
    border-radius: 10px;
}
.user-nav a {
    color: #e1e1e1;
    font-size: 32px;
    text-decoration: none;
    padding: 10px;
}
.user-nav {
    display: flex;
}
.slide {
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e1;
}
.content {
    margin: 3em 2em;
}
.products {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 1.5em;
}
.product-image {
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    background-color: white;
}
.product-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}
.name {
    margin-top: 0px;
}
.cart-button {
    padding: 1em;
    min-width: 10em;
    color: white;
    background-color: green;
    border: solid white 1px;
}
.price {
    font-size: 2em;
    font-weight: bold;
}
.price::before {
    content: "AU$";
}
.brand {
    display: inline-block;
    color: white;
    padding: 0.5em;
    background-color: black;
}
.product-button, .search-link {
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 10px;
}
/* search */
.search-row {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 2em;
    margin-bottom: 3em;
}
.search-image {
    display: block;
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.main-footer {
    background-color: #1A1A1A;
    min-height: 5rem;
    padding: 1em 2em;
}
.footer-nav a {
    color:#e1e1e1;
    text-decoration: none;
}
.footer-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
}
#contact-form {
    margin: 1em auto;
    width: min(80vw,500px);
}
.group {
   display: flex;
   flex-flow: column nowrap;
   margin-bottom: 1em;
}
.group input, 
.group select,
.group textarea 
{
    border: 1px solid #595959;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
}
.buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.buttons button {
    padding: 0.5rem;
    min-width: 8rem;
    border: 1px solid #595959;
    border-radius: 0.5rem;
    background-color: #1A1A1A;
    color: #e1e1e1;
}

